<%- include('../includes/head.ejs') %>
    </head>
  
  <body>
      <%- include('../includes/navigation.ejs') %>
   <section class="section">
     <div class="container has-text-centered">
       <h1 class="title is-size-1"> New Quiz</h1>
     </div>
   </section>

   <section class="section">
     <form action="/quiz-results" method="POST">
      <input type="hidden" name="number_questions" value="<%= questions.length %>">
        <input type="hidden" name="_csrf" value="<%= csrfToken %>">
     <% questions.forEach(function(question,index) { %>

          <fieldset class="box" id="question-<%= index %>">
            <p class="title is-size-4"><%=  question.question %></p>
            <input type="text" name="question-<%= index %>" hidden value="<%=  question.question %>">
            <div class="control">
                <input type="text" name="correct_answer-<%= index %>" hidden value="<%= question.correct_answer %>">
                <div>
                    <% for (let answer of question.answers) { %>
                      <label class="radio">
                          <input type="radio" name="answer-<%= index %>" required value="<%= answer %>" >
                          <%= answer %>
                        </label>
                
                  <% }%> 
                </div>
                
            </div>
          </fieldset>
 
       
        <% }  )%> 
        <div class="field is-grouped is-grouped-centered">
            <p class="control">
              <button class="button is-primary">
                Submit
              </button>
            </p>
          </div>         
    </form>
           
           
     
   </section>

    <%- include('../includes/end.ejs') %>
