<%- include('../includes/head.ejs') %>
    </head>
  
  <body>
      <%- include('../includes/navigation.ejs') %>
   <section class="section">
     <div class="box has-text-centered">
       <h1 class="title is-size-1">Your Results</h1>
       <button class="button is-primary"><%= correctAnswersNum %></button>
       <button class="button is-danger"><%= incorrectAnswersNum %></button>
     </div>
   </section>

   <section class="section  ">
       <div class="box has-text-centered">
            <table class="table">
                    <thead>
                      <tr>
                            <th>Question</th>
                            <th>Correct Answer</th>
                            <th>User Answer</th>
                      </tr>
                    </thead>
                    <tbody>
                            <% for (let result of results) { %>
                                <tr>
                                        <td><%= result.question %></td>
                                        <td><%= result.correct_answer%></td>
                                        <td><%= result.answer %></td>
                                      </tr>
                          
                            <% }%> 
                    </tbody>
                  </table>
       </div>
       <div class="box has-text-centered">
         <a class="button is-primary" href="/">Continue</a>
       </div>
   </section>

    <%- include('../includes/end.ejs') %>
  